In [6]:
from text_embedder import TextEmbedder
import pickle
from gensim import corpora, models
import pandas as pd

In [8]:
dictionary = corpora.Dictionary.load('../workspace/gensim/chinsese_dict.dict')
model =  models.LdaModel.load('../workspace/gensim/lda.model')

with open('u_idf.pickle', 'rb') as f:
    uidf_data = pickle.load(f)

with open('b_idf.pickle', 'rb') as f:
    bidf_data = pickle.load(f)
    
with open('zero_user.pickle', 'rb') as f:
    zero_user = pickle.load(f)
    

model = TextEmbedder(model = model, dictionary = dictionary, user_idf = uidf_data, business_idf = bidf_data)

In [18]:
# load file
business = pd.read_csv('chinese_business_clean.csv')
reviews = pd.read_csv('chinese_reviews_clean.csv')

In [10]:
user1 = 'CxDOIDnH8gp9KXzpBHJYXw'
business = 'gtcsOodbmk4E0TulYHnlHA'

sample = "Bar Crawl #1:  Beau's Kissmeyer Nordic Pale Ale & St Bernardus Abt 12\
\n\nHappy Hour Everyday till 7 pm! $2 off drafts and bottles/cans. Sweet!\
\n\nOf course I have to start off with a pint: Beau's Kissmeyer Nordic Pale Ale ($5.50 with HH specials!) \
and my Yelp friend with a can of Howe Sound Lager ($4.5 with HH Special). \
And of course if you prefer some exquisite import: A bottle of St Bernardus Abt 12 ($28).\
\n\nThe interior is dark, dim and cozy. I like how Northwood is a coffee/beer/cocktail drinking \
place as that means I can hang out here the whole day. \
\n\nToo bad they were out of the 8oz Cold Brew to go. \
I guess I have to come back soon to try out their cocktails and coffee! And free WIFI!! \
Oh that means I can even yelp a bit!"

# method1
print (model.augmented_embed_text(sample))
# method2
print (model.user_tfidf_embed(sample, user1))
# method3
print (model.user_tf_business_idf(sample, business))
# method4
print (model.user_tfidf_business_idf(sample, user1, business))

[ 0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00998668  0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00856937  0.00767     0.00767     0.00917538  0.00767     0.00767
  0.00767     0.00767     0.00767     0.00861086  0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00892448  0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00856552  0.00767     0.00767     0.00866913
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00917538  0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00790714  0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.01527218  0.00767     0.00767     0.00767     0.00775419  0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767     0.00767     0.00767     0.00767     0.00767
  0.00767     0.00767   ]
[ 0.00857802  0.00924891  0.0052071   0.00832635  0.00620974  0.00715357
  0.0070216   0.00801139  0.00588663  0.00796454  0.00887789  0.00796454
  0.00699648  0.00641933  0.0070216   0.00641933  0.00832635  0.00774919
  0.00802698  0.00729766  0.00555335  0.00688749  0.00712627  0.0070216
  0.00704712  0.00947351  0.00726777  0.0074488   0.00826927  0.00619472
  0.01044512  0.00801139  0.00984077  0.00947351  0.00660204  0.01023553
  0.00641933  0.00680885  0.00689987  0.00805969  0.00585951  0.00879738
  0.00838559  0.01044512  0.00778996  0.00858917  0.00554345  0.00555335
  0.00851122  0.00821419  0.00619472  0.0067439   0.00449552  0.00576578
  0.00664128  0.00935719  0.00778996  0.00770946  0.00787482  0.00851122
  0.00832635  0.00640217  0.00708113  0.00864779  0.00801139  0.00726134
  0.00715357  0.00715357  0.00630301  0.0068537   0.00689987  0.00851122
  0.00763288  0.00894727  0.00879738  0.00514462  0.00816098  0.00619472
  0.00879738  0.00692347  0.00726777  0.00924891  0.01023553  0.00712627
  0.00746727  0.00801139  0.01023553  0.00726777  0.00826927  0.00821419
  0.01177499  0.00864779  0.00796454  0.00914761  0.00770946  0.00857802
  0.01646607  0.00672283  0.00826927  0.01044512  0.0074233   0.0067439
  0.00826927  0.00783182  0.00787482  0.00778996  0.00851122  0.00778996
  0.00864573  0.0067439   0.01044512  0.00947351  0.00723843  0.01068706
  0.00505534  0.00715357  0.00707306  0.00745634  0.00602488  0.00826927
  0.0087208   0.00647194  0.00694743  0.00816098  0.00857802  0.00749009
  0.00796454  0.00832635]
[ 0.00840188  0.00775213  0.00618038  0.0080443   0.0062838   0.01062338
  0.00618038  0.0080443   0.00598844  0.0080443   0.01062338  0.00886288
  0.01062338  0.00710238  0.00678081  0.00729113  0.0080443   0.00775213
  0.0057103   0.00750511  0.00840188  0.0079486   0.00886288  0.00775213
  0.00750511  0.00775213  0.00693355  0.00995318  0.00886288  0.00488088
  0.00951263  0.00840188  0.00949507  0.00886288  0.0062838   0.00840188
  0.0080443   0.00729113  0.00567006  0.00886288  0.00886288  0.00951263
  0.00710238  0.00840188  0.00750511  0.00758143  0.00435446  0.00540236
  0.00840188  0.0080443   0.00840188  0.00886288  0.00951263  0.00775213
  0.00599163  0.0080443   0.00664138  0.00729113  0.00729113  0.00664138
  0.00775213  0.0080443   0.00529852  0.          0.0080443   0.00877438
  0.00775213  0.00886288  0.01062338  0.00497248  0.00678081  0.00951263
  0.00775213  0.01060736  0.00678081  0.00840188  0.00951263  0.01062338
  0.00775213  0.00678081  0.00840188  0.00840188  0.0080443   0.00886288
  0.00617556  0.00951263  0.0080443   0.00639436  0.0080443   0.01062338
  0.00951263  0.          0.00951263  0.00750511  0.01062338  0.0080443
  0.0145176   0.0080443   0.00840188  0.00840188  0.00466586  0.00639436
  0.00951263  0.00951263  0.00886288  0.00840188  0.00775213  0.00678081
  0.00629895  0.00886288  0.          0.01062338  0.0080443   0.00951263
  0.00664138  0.0080443   0.00775213  0.00693355  0.0080443   0.00886288
  0.00729113  0.00590499  0.00664138  0.00664138  0.00678081  0.00775213
  0.01062338  0.0080443 ]
[ 0.00936093  0.00931252  0.00417991  0.00869959  0.00506818  0.00987055
  0.00563647  0.00837051  0.00521544  0.00832155  0.01224977  0.00916835
  0.0096538   0.00592174  0.00618406  0.00607911  0.00869959  0.00780249
  0.00534568  0.00711372  0.00606021  0.00587539  0.00820339  0.00706989
  0.00686949  0.00953867  0.00654504  0.00858432  0.00951915  0.00392714
  0.01290535  0.00874259  0.00951675  0.0109054   0.00538835  0.01116973
  0.00670708  0.00644799  0.00508141  0.00927789  0.00674516  0.0108695
  0.00773559  0.01139844  0.00759361  0.00727654  0.00313524  0.00389668
  0.00928804  0.0085824   0.00676011  0.00776322  0.00555439  0.00580544
  0.00516836  0.00977664  0.00682221  0.00730086  0.00745747  0.00734186
  0.00838362  0.00668915  0.00452458  0.          0.00837051  0.00646348
  0.00720277  0.00823481  0.00869694  0.00442643  0.00607685  0.01051594
  0.00768538  0.01031705  0.00774802  0.00561417  0.01008321  0.00854752
  0.00885789  0.00609764  0.0079311   0.01009306  0.01069435  0.00820339
  0.00580846  0.00989838  0.01069435  0.00603606  0.00863995  0.01133401
  0.01454845  0.          0.00984049  0.00891704  0.01063756  0.00896253
  0.01559267  0.00702419  0.00902401  0.01139844  0.00448555  0.00560098
  0.01021701  0.00967652  0.00906508  0.00850095  0.00856976  0.00686077
  0.00621971  0.00776322  0.          0.01307162  0.0075629   0.01320428
  0.00436078  0.00747423  0.00712171  0.00671486  0.00629495  0.00951915
  0.00825861  0.00496375  0.00599292  0.00703974  0.00755483  0.00754161
  0.01098953  0.00869959]

In [20]:
reviews[reviews['user_id'].isin(zero_user)].groupby('user_id').count().reset_index().sort_values(by = 'date', ascending = False).head()

,user_id,business_id,cool,date,funny,review_id,stars,text,useful
677,EKebCbmk0jU1vG9O2u7hXQ,2,2,2,2,2,2,2,2
2242,nWxdwPqRHI6ek4Nyc9Og9A,2,2,2,2,2,2,2,2
0,--RY4bG7REOBum5HsSspxQ,1,1,1,1,1,1,1,1
1854,dyasNvlRh290wLZ3XqKmxQ,1,1,1,1,1,1,1,1
1847,dpEUqnXkR-CZGahyuoFIVQ,1,1,1,1,1,1,1,1

In [21]:
reviews = reviews[~reviews['user_id'].isin(zero_user)]

In [23]:
reviews.groupby('user_id').count().reset_index().sort_values(by = 'date', ascending = False).head()

,user_id,business_id,cool,date,funny,review_id,stars,text,useful
23525,CxDOIDnH8gp9KXzpBHJYXw,528,528,528,528,528,528,528,528
26470,EiP1OFgs-XGcKZux0OKWIA,189,189,189,189,189,189,189,189
6183,2e5V6M4GNufEnbGJpVdCjw,142,142,142,142,142,142,142,142
4666,1kNsEAhGU8d8xugMuXJGFA,141,141,141,141,141,141,141,141
88516,orh0HRUNCWuQMt9Iia_osg,112,112,112,112,112,112,112,112

In [24]:
reviews.to_csv('chinese_reviews_clean.csv', index = False)